/*CSS sheet for my-portfolio*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utilities*/
section {
    padding: 10px 60px;
}

:root {
    --primary-color: #113c66;
    --secondary-color: #39a6b2;
}
/*End Utilities*/

/*Start Header Styles*/
header {
    display: flex;
    justify-content: space-between;
    padding: 0, 0, 0, 20px;
    background-color: #113c66; 
    padding: 20px 35px;
    position: -webkit-sticky;
    position: sticky;
}

header a {
    text-decoration: none;
    color: white; 
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px 0 0 0;
}

header nav ul li a:hover {
    color: #39a6b2
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    text-decoration: none;
}

header h1 {
    font-weight: bold;
    font-size: 60px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*End Header Styles*/

/*Start Hero Styles*/
.hero {
    display: inline-block; 
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.hero p {
    font-size: 40px;
    width: 70%;
    padding: 40px 40px 40px 0;
}

.quote {
    font-style: italic;
    font-size: 30px;
    text-align: right;
    padding: 0;
}

.hero img {
    float: right;
    width: 30%;
    height: auto;
    margin: 30px 0 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 5px solid #555;
}
/*End Hero Styles*/

/*body sections styling*/
.sections {
    width: 10%;
    height: auto;
    margin: 10px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    font-size: 200%;
    text-align: center;
    border-right: 3px solid;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}


/*end body sections styling*/

/*Footer Style Starts*/
footer {
    padding: 20px 0;
    margin: 10px 0 0 0;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    font-size: 150%;
    background-color: #113c66;
    text-align: center; 
}
/*Footer Style Ends*/

/*MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER*/
@media screen and (max-width: 980px) {

}

/*MEDIA QUERY FOR TABLETS AND SAMLLER */
@media screen and (max-width: 786px) {

}

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/
@media screen and (max-width: 575px) {

}