/*CSS sheet for my-portfolio*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utilities*/
section {
    padding: 60px;
}
/*End Utilities*/

/*Start Header Styles*/
header {
    display: flex;
    justify-content: space-between;
    padding: 0, 0,0,20px;
    background-color: #113c66; 
    padding: 10px 0;
    position: -webkit-sticky;
    position: sticky;
}

header a {
    text-decoration: none;
    color: white; 
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
}

header h1 {
    font-weight: bold;
    font-size: 60px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*End Header Styles*/

/*Start Hero Styles*/
.hero {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.hero p {
    width: 80%;
    padding: 0 40px;
}

.hero img {

    width: 20%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 5px solid #555;
}


/*End Hero Styles*/

/*Footer Style Starts*/
footer {
    padding: 20px 0;
    margin: 10px 0 0 0;
    background-color: #113c66;
    text-align: center; 
}
/*Footer Style Ends*/

/*MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER*/
@media screen and (max-width: 980px) {

}

/*MEDIA QUERY FOR TABLETS AND SAMLLER */
@media screen and (max-width: 786px) {

}

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/
@media screen and (max-width: 575px) {

}