/*CSS sheet for my-portfoliok*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utilities*/
section {
    padding: 60px;
}
/*End Utilities*/

/*Start Header Styles*/
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #113c66; 
    padding: 10px 0 10px 0;
    position: -webkit-sticky;
    position: sticky;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

header nav ul li a {

    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
}

header a:visited {
    text-decoration: none;
    color: white; 
}

header h1 a {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 60px;
    font-style: normal; 
    color: white;
    padding: 40px 0 20px 0;
    text-decoration: none;

}
/*End Header Styles*/

/*Start Hero Styles*/
.hero div {
    display:flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.ben-pic {
    max-height: 35%;
    max-width: 35%;
    border: 5px solid #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*End Hero Styles*/

/*Footer Style Starts*/
footer {
    padding: 20px 0;
    margin: 10px 0 0 0;
    background-color: #113c66;
    text-align: center; 
}
/*Footer Style Ends*/

/*MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER*/
@media screen and (max-width: 980px) {

}

/*MEDIA QUERY FOR TABLETS AND SAMLLER */
@media screen and (max-width: 786px) {

}

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/
@media screen and (max-width: 575px) {

}